body
{
	background-color:black;
	color:white;
}
h3 {
	color:white;
/*	-webkit-user-select: none; */
	text-align: center
}


/* ----------------------------------------------------------------------
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[name=pradio] {
    display:none; 
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[name=pradio] + label {
    display:inline-block;
    margin: 2px;
    padding: 4px 12px;
    background-color: #0000FF;
    border-color: black;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[name=pradio]:checked + label { 
	color: black;
	font-weight: "900";
   background-image: none;
    

    background-color: #00BB00;
}
td
{
text-align:center;
}

/*---------------------------------------------------------------- */
/* ----------------------------------------------------------------------
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[name=rradio] {
    display:none; 
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[name=rradio] + label {
    display:inline-block;
    margin: 2px;
    padding: 4px 12px;
    background-color: #0000FF;
    border-color: black;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[name=rradio]:checked + label { 
	color: black;
	font-weight:"900";
   background-image: none;
    

    background-color: #00BB00;
}
td
{
text-align:center;
}

/*---------------------------------------------------------------- */
/* ----------------------------------------------------------------------
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[name=cradio] {
    display:none; 
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[name=cradio] + label {
    display:inline-block;
    margin: 2px;
    padding: 4px 12px;
    background-color: #0000FF;
    border-color: black;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[name=cradio]:checked + label { 
	color: black;
	font-weight:"900";
   background-image: none;
    

    background-color: #00BB00;
}
td
{
text-align:center;
}

/*---------------------------------------------------------------- */

#display{
	width: 100%;
}
#timeLabelDiv
{
color:white;
	-webkit-user-select: none;
	user-select: none;

}

#timeDisplayDiv
{
color:white;
	-webkit-user-select: none;
	user-select: none;

}

#app{
	width: 100%;
	overflow: hidden;

}

#slider_area {
	-webkit-user-select: none;
	user-select: none;
	color:blue;
	text-align: center;	
	border:1px solid #0000FF;
    width: 5%;
    height:97%;
    margin-right:2%;
    float:left;


}
#slidercanvas1 {
	-webkit-user-select: none;
	user-select: none;
    width: 100%;
    height:100%;
    border:1px solid #0000FF;
    overflow: hidden; 

}

.scoreSpan{

}

#score {

	width: 99%;
	height:97%;
	border:3px solid #0000FF;

}

.radioSelect {
	padding-bottom: 3%;

}
#radioSelectDiv{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 99%;
	height:99%;	
	vertical-align:top;
	display: inline-block;  
	border:1px solid #0000FF;

}



#control_section{
	
}




#roomList{
	float:right;
	border:1px solid #0000FF;
	background-color:grey;
}
#room_textbox
{
}
#current_room{
	border:1px solid #0000FF;
	background-color:grey;	
}

#end_text {
	color:white;
}

#Credits {
	height: 10%;
	font-family:Calibri ; font-size:10px; 
}

#soundToggleButtonDiv {
	float: left; 
	padding: 3%;
}

#soundToggleButton {
	color: white;

}

#yLockButtonDiv {
	float: right; 
	padding: 3%;
	z-index: 1;

}

#yLockButton {
	color: white;
	z-index: 1;
}


#timebuttondiv {
        float: right; 
        padding: 3%;
        	z-index: 1;
}
#timeLockButton {
	color: white;
	z-index: 1;
}

#timeLockSlider {
	width: 100%;
}
#tabDiv{
		color: white;
		border:1px solid #0000FF;
		height: 12%;
}
#chatheader{
	width: 98%;
	height: 10%;
	border:2px solid #00FF00;
	text-align: center;

}	

#myChatArea{
	width: 98%;
	border:2px solid #00FF00;
	height: 88%;
	resize: none;

}
#publicChatArea{
	width: 96%;
	border:2px solid #0000FF;
	height: 100%;
	resize: none;
	background-color: grey;
	color: white;
	padding: 1px;
	margin: 1px;
}

.textBox1 { 
	position: absolute;
}
#newSoundSelector{
		width: 98%;
}

#selectTab{
	color: white;
}

#soundDiv{
	border:2px solid #0000FF;
}

#descXDivId,#descYDivId{
		padding: 3%;
}
#descXButton{
	width: 20%;
	float: left;
	margin: 1%;
	color: white;
}
#descXSlider{
	width:75%;
	float: left;
	margin: 1%;
}
#descYButton{
	width: 20%;
	float: left;
	margin: 1%;
	color: white;
}
#descYSlider{
	width:75%;
	float: left;
	margin: 1%;

}
