*
{
    padding: 0;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
html, body
{
    height: 100%;
    width: 100%;
    background-color:black;
    color:white;
}


#wrap {
    width: 100%;
    height: 100%;
    background-color: black;
}
#block0{
    width: 100%;
    background-color:pink;
    position: relative;
    height: 7%;
}
#block0a{
        background-color: black;
        width: 3%;
        height: 100%; 
        float: left; 
}
#block0b{
        background-color: black;
        width: 25%;
        height: 100%; 
        float: left; 
}
#block0c{
        background-color: black;
        width: 52%;
        height: 100%; 
        position: relative;
        float: left; 
}
#block0d{
        background-color: black;
        width: 20%;
        height: 100%; 
        float: left; 
}

#block1 {
    width: 100%;
    height: 55%;
    background-color: red;
}

#block1a {
        background-color: #4B0082;

        width: 3%;
        height: 100%; 

        float: left; 
        overflow: visible;

    }
#block1b {
        background-color: black;
        width: 77%;
        height: 100%; 

        float: left; 
        overflow: visible;

    }
#block1c {
        /* background-color: #4B0082; */
        background-color: black;
        width: 20%;
        height: 100%; 

        float: left; 
        overflow: auto;
        position: relative;

    }


/* Blocks 3 and 4 have 4 rows each */
#block3 {
    background-color: green;
    width: 100%;
    height: 7%;
    overflow: visible;
}

#block3a {
        background-color: black;
        width: 3%;
        height: 100%; 
        float: left; 
        overflow: visible;
    }
#block3b {
        background-color: black;
        width: 25%;
        height: 100%; 
        float: left; 
        overflow: visible;
    }
#block3c {
        background-color: black;
        width: 52%;
        height: 100%; 
        float: left; 
    }
#block3d {
        background-color: black;
        width: 20%;
        height: 100%; 
        float: left; 
        overflow: visible;
        font-family: "Courier New", Courier, monospace;
    }

/* Blocks 3 and 4 have 4 rows each */
#block4{
   background-color:black;
    height: 29%;  
    z-index: -1;  
}

#block4a {
        background-color: black;
        width: 3%;
        height: 100%; 
        float: left; 
    }
#block4b {
        background-color: rgba(0,0,0,0); /* allows block3b buttons to overflow and be on top and visible if necessary */
        width: 25%;
        height: 100%; 
        float: left; 
        z-index: -1;
    }
#block4c {
        background-color: black;
        width: 52%;
        height: 100%; 
        float: left; 
    }
#block4c1{
    width: 24%;
    height: 100%;
    background-color: grey;
    float: left;
    padding: 1px;
    margin: 2px;
}
#block4c2{
    width: 70%;
    height: 100%;
    background-color: black;
    float: left;
    padding: 2px;
}
#block4d {
        background-color: black;
        width: 20%;
        height: 100%; 
        float: left; 
        overflow: visible;
        font-family: "Courier New", Courier, monospace;
    }


#footer{
    background-color:black;
    height: 23%;

    font-family:Calibri ; font-size:10px;

}